*{
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100%;

    .console{
        display: block;
        position: fixed;
        bottom: 10px;
        left: 50px;
        border-radius: 10px;
        padding: 15px 20px;
        background: linear-gradient(to bottom right, #0065af, #06a7dd);
        box-shadow: 4px 4px 8px #acacacaa;
        z-index: 10;

        .keys{
            width: 50px;
            height: 50px;
            border: none;
            margin-top: 5px;
            background: #fafafa;
            box-shadow: 3px 3px 12px #1e1e1eaa, -3px -3px 12px #fcfcfcaa;
            outline: none;
            transition: 250ms;

            &:hover{
                background: #fafafadd;
                transition: 250ms;
            }
        }
        .shift{
            width: 104px;
        }

        .keys_hidden{
            width: 50px;
            height: 50px;
            border: none;
            background: transparent;
            color: transparent;
        }
    }

    .playArea{
        display: block;
        width: 900px;
        height: 600px;
        margin: 10vh auto;
        background: #ececec;
        border-radius: 10px;
        box-shadow: 4px 4px 12px #acacacaa;

        #obj{
            width: 30px;
            height: 30px;
            background: red;
            border-radius: 90px;
            position: relative;
        }
    }
}