*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at center, #0e0e0e, #0e0e2e);

    #star{
        display: block;
        position: absolute;
        height: 0px;
        width: 0px;
        padding: 8vh;
        border-radius: 100%;
        background: #ff9900;
        z-index: 0;

        &:hover{
            transform: scale3d(2);
        }
    }

    #planet{
        display: block;
        position: fixed;
        height: 0px;
        width: 0px;
        padding: 10px;
        border-radius: 100%;
        background: #56ff86;
        z-index: 0;
    }



    #canvas{
        height: 800px;
        width: 90vw;
        border: 2px solid #fcfcfc;
        margin: 10px auto;
    }
    #ground{
        position: relative;
        top: 100%;
        height: 50px;
        transform: translateY(-50px);
        width: 100%;
        background: sandybrown;
    }

    #ball{
        display: block;
        position: relative;
        height: 0px;
        width: 0px;
        top: 40px;
        left: 60px;
        padding: 12px;
        border-radius: 100%;
        background: #fcfcfc;
        z-index: 0;
    }


    #object{
        position: relative;
        height: 30px;
        width: 30px;
        border-radius: 90px;
        background: #1e1e4e;
    }
}